h1 {
  font-size: 30px;
  text-decoration: underline;
}
h2 {
  font-size: 24px;
  text-align: center;
}

header {
  /*padding-top: 5px;*/
  border-bottom: 1px solid #c2c3c6;
}
body {
  background-color: #76787f;
  font-size: 18px;
}

a {
  color: #4f308e;
}


.jakes {
  margin-top: 10px;

  height: 250px;
  border-bottom: 2px solid #c2c3c6;
}

.menu {
  border: 2px dashed black;
  width: 12%;
  float: left;
  height: 225px;
  /*margin-right: 25px;*/
}

.storefront {
  float: right;
  width: 60%;
}

.storefront img {
  height: 200px;
}

.info {
  text-align: center;
  display: flex;
}
#about {
  justify-content: center;
  width: 50%;
  border-right: 3px solid black;
  padding-right: 15px;
}

#hours {
  justify-content: center;
  width: 50%;
}


